@font-face {
    font-family: 'Titan';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/titanone.ttf');
}

@font-face {
    font-family: 'Nunito-Reg';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/nunito-reg.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/nunito-bold.ttf');
}

@font-face {
    font-family: 'Montserrat-Reg';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/montserrat-regular.otf');
}

@font-face {
    font-family: 'Montserrat-Semi';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/montserrat-semibold.otf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/montserrat-bold.otf');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('https://static.igem.wiki/teams/4628/wiki/fonts/montserrat-black.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg);
    font-family: 'Montserrat-Reg', sans-serif;
}
body.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --bg: #FFF9E9;
    --lg: #D5E5CA;
    --mg: #6D966B;
    --dg: #006C62;
    --y: #FFC570;
    --shy: #FFE3B9;
    --font: #402C1A;
    --disc: #A9C09E;
}

#scrollbar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0px;
    background-color: var(--mg);
    transition: .2s;
}

#loadblock {
    width: 100%;
    height: calc(100vh - 90px); 
    position: fixed;
    z-index: 800;
    bottom: 0;
    left: 0;
    background-color: var(--bg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
    gap: 20px;
    transition: opacity 1s;
  }
  #loadblock.hide {
    opacity: 0;
  }
  #loadblock img {
    width: 20vmin;
    min-width: 300px;
    aspect-ratio: 1;
    background-size: contain;
    animation: load infinite linear 16s;
  }
  @keyframes load {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  #loadblock .txt {
    color: var(--mg);
    font-family: 'Nunito-Bold';
    font-size: 2em;
  }