#content .s1 p {
    text-align: left
}

#content .pdfs {
    width: 100%
}

#content .pdfs .tabs {
    display: flex;
    gap: 15px;
    padding-left: 19px;
    width: 100%
}

#content .pdfs .tabs div {
    background-color: var(--y);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--f);
    font-family: Nunito-Bold;
    padding: 5px 30px;
    position: relative;
    transition: .5s
}

.tabs div:after,
.tabs div:before {
    background-color: var(--bg);
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    transition: .5s;
    width: 10px
}

.tabs div:before {
    background: radial-gradient(circle at 0 0, transparent 10px, var(--y) 10px);
    left: -10px
}

.tabs div:after {
    background: radial-gradient(circle at 10px 0, transparent 10px, var(--y) 10px);
    right: -10px
}

#content .pdfs .tabs div.show {
    background-color: var(--lg);
    color: var(--dg)
}

.tabs div.show:before {
    background: radial-gradient(circle at 0 0, transparent 10px, var(--lg) 10px)
}

.tabs div.show:after {
    background: radial-gradient(circle at 10px 0, transparent 10px, var(--lg) 10px)
}

#content .pdfs .body {
    border-top-left-radius: 15px;
    border-top-right-radius: 20px;
    padding: 20px 30px 10px;
    width: 100%
}

#content .pdfs .body,
#content .pdfs .desc {
    background-color: var(--lg);
    box-shadow: 3px 6px var(--y)
}

#content .pdfs .desc {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--dg);
    font-size: .8em;
    padding: 0 35px 10px
}

#content .pdfs iframe {
    aspect-ratio: 1.6;
    border: 0;
    display: none;
    width: 100%
}

#content .pdfs .cn iframe.cn,
#content .pdfs .en iframe.en {
    display: block
}