.poster .title {
    top: 80%;
}

.main {
    margin-top: 150px;
}

.main .menu {
    display: none;
}

.main #content {
    background-color: transparent !important;
    max-width: 1000px;
    flex: 1;
    padding: 0;
}

.main #content::before {
    display: none;
}

.main #content .s1 .h1-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.main #content .s1 .h1-wrap h1 {
    position: relative;
    color: var(--mg);
    font-family: "Titan", sans-serif;
    font-size: 40px;
}

.main #content .s1 .line {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
}

.main #content .s1 .h1-wrap h1::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    z-index: 1;
    left: -8px;
    top: -8px;
    width: fit-content;
    height: 100%;
    text-wrap: nowrap;
    color: var(--mg);
    padding: 2px;
    -webkit-text-stroke: 8px transparent;
    -webkit-background-clip: text;
    background-color: var(--bg);
}

#content .card {
    position: relative;
    background-color: #FFFDF7;
    width: 300px;
    border-radius: 20px;
    box-shadow: 6px 6px var(--mg);
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: 1s;
    transform: scale(1);
}

#content .card .hole {
    top: 20px;
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--mg);
    overflow: hidden;
}

#content .card .hole::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg);
    top: 6px;
    left: 6px;
}

#content .card .mid {
    width: 75%;
    aspect-ratio: 1;
    position: relative;
}

#content .card .mid .avatar {
    position: relative;
    transform-style: preserve-3d;
    z-index: 4;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid var(--mg);
    background-color: #FFFDF7;
    opacity: 1;
    transition: 1s;
    background-position: center;
    background-size: cover;
}

#content .card .mid .avatar::before,
#content .card .mid .avatar::after {
    width: 100px;
    height: 140px;
    display: block;
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

#content .card .mid .avatar::after {
    bottom: -35px;
    left: calc(100% - 65px);
    z-index: 3;
    background-image: url(https://static.igem.wiki/teams/4628/wiki/ft.svg);
    transform: rotate(10deg);
}

#content .card .mid .avatar::before {
    bottom: 20px;
    left: -60px;
    background-image: url(https://static.igem.wiki/teams/4628/wiki/bk.svg);
    transform: rotate(15deg) translateZ(-10px);
}

#content .card:hover .mid .avatar {
    opacity: .3;
}

#content .card .mid .scroll {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 20px);
    overflow: scroll;
    opacity: 0;
    transition: 1s;
}

#content .card .mid .scroll p {
    color: #395038;
    width: 100%;
    text-align: justify;
    text-indent: 1.5em;
    padding-left: 0;
}

#content .card:hover .mid .scroll {
    opacity: 1;
}

#content .card .bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#content .card .bot .name {
    color: var(--mg);
    font-family: 'Montserrat-Bold';
    font-size: 25px;
    letter-spacing: .05px;
}

#content .card .bot .tag {
    font-family: 'Nunito-Bold';
    background-color: var(--mg);
    font-size: 18px;
    color: #FFFDF7;
    padding: 0 15px;
    border-radius: 20px;
}

#content .card .star {
    position: absolute;
    width: 50px;
    height: 80px;
    top: -30px;
    right: -20px;
    background-image: url(https://static.igem.wiki/teams/4628/wiki/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: 1s;
}

#content .card:hover .star {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#content .card:hover {
    transform: scale(1.04);
    box-shadow: 15px 15px var(--mg);
}