@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800'); 
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
img {
    vertical-align: bottom;
}
:root {
    --dd-green: #047a6b;
    --d-green: #55d4b1;
    --l-green: #dcf4ed;
    --ll-green: #e7f7f5;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.top_bar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    padding: 0 60px;
}
/* 底下的横线 */
.top_bar::after {
    content: '';
    width: calc(100% - 100px);
    height: 1px;
    background-color: var(--d-green);
    position: absolute;
    bottom: 0;
    left: 50px;
}
.top_bar .logo_wrap {
    height: 100%;
    padding: 7px 0;
}
.top_bar .logo_wrap img {
    display: block;
    height: 100%;
}
/* 选项 */
.top_bar .menu_wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.top_bar .menu_wrap .menu_item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.top_bar .menu_wrap .menu_item .title {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .5px;
    color: var(--d-green);
    transition: .3s;
}
.top_bar .menu_wrap .menu_item ion-icon {
    color: var(--d-green);
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 2px;
    transform: rotate(0deg);
    transition: .3s;
    transition-delay: 0s;
}
/* hover特效 */
/* .top_bar .menu_wrap .menu_item:hover .title,
.top_bar .menu_wrap .menu_item:hover .title a
 {
    position: relative;
    color: var(--orange);
    text-shadow: 0 0 2px var(--orange),
    0 0 4px var(--orange);
} */
/* active - 展开 */
/* .top_bar .menu_wrap .menu_item:hover ion-icon {
    color: var(--orange);
    transform: rotate(-90deg);
} */
/* 当前页指示 */
/* .top_bar .menu_wrap .menu_item.cur .title {
    color: var(--orange);
    text-decoration: underline;
} */
/* 子菜单 */
.top_bar .menu_wrap .menu_item .choice {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
    
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    overflow: hidden;
    height: 0;

    box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.top_bar .menu_wrap .menu_item:hover .choice {
    height: auto;
    border-top: 3px solid var(--d-green);
}
.top_bar .menu_wrap .menu_item a {
    color: var(--d-green);
    transition: .3s;
}
.top_bar .menu_wrap .menu_item .choice li a {
    padding: 5px 10px;
    display: block;
    width: 100%;
    text-transform: none;
    font-size: 15px;
    color: var(--d-green);
    transition: .5s;
}
.top_bar .menu_wrap .menu_item .choice li:hover a {
    color: #fff;
    background-color: var(--d-green);
}
.top_bar .menu_btn {
    display: none;
}

/* 主体部分 */
.main {
    /* display: none; */
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: 1s;
    transition-delay: .5s;
}
.main.active {
    display: block;
}
.main section {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
}
#sec1 {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    transition: 1s;
}
#sec1 .top {
    position: absolute;
    margin-top: 20px;
    left: 60px;
    width: calc(100% - 120px);
}
#sec1 .top img {
    width: 100%;
}

#sec1 .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#sec1 .bottom img {
    width: 100%;
    object-fit: cover;
}
#sec1 .bottom .word_wrap {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

}
#sec1 .bottom .word_wrap .word {
    position: relative;
    padding: 20px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}
#sec1 .bottom .word_wrap .word .right_top {
    position: absolute;
    top: 10px;
    right: 0;
    height: 5px;
    width: 30%;
    background-color: var(--d-green);
}
#sec1 .bottom .word_wrap .word .right_top::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 20px;
    background-color: var(--d-green);
}
#sec1 .bottom .word_wrap .word .left_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 30%;
    background-color: var(--d-green);
}
#sec1 .bottom .word_wrap .word .left_bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 20px;
    background-color: var(--d-green);
}

#sec1 .bottom .main_img {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 60%;
    width: 50%;
    height: auto;
}
#sec1 .bottom .main_img:hover {
    animation: swag 1s linear;
}
@keyframes swag {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50%,
    100% {
        transform: rotate(0deg);
    }
}
#sec1 .bottom .main_img img {
    width: 100%;
    object-fit: cover;
}
.main #sec2 {
    width: 100%;
    height: auto;
    padding: 5vh 60px;
    display: flex;
}
#sec2 .base {
    position: relative;
    width: 100%;
    height: auto;
    align-items: end;
}
#sec2 .base img {
    width: 100%;
}
#sec2 .base .nerve {
    position: absolute;
    top: 26.8%;
    left: 35%;
    opacity: 0;
}
#sec2 .base .nerve img {
    width: 29vw;
    object-fit: cover;
}
#sec2.active .base .nerve {
    animation: show 1s linear forwards;
    animation-delay: 1s;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#sec2 .base .nerve img.des {
    position: absolute;
    left: 30%;
    top: 1%;
    width: 42vw;
    object-fit: cover;
}
#sec2 .base .virus {
    position: absolute;
    top: 60%;
    left: 39%;
    opacity: 0;
}
#sec2.active .base .virus {
    animation: show 1s linear forwards;
    animation-delay: 2s;
}
#sec2 .base .virus img {
    width: 5vw;
    object-fit: cover;
}
#sec2 .base .virus img.des {
    position: absolute;
    right: 100%;
    top: -340%;
    width: 28vw;
    object-fit: cover;
}
#sec2 .base .persist {
    position: absolute;
    width: 37vw;
    top: 64%;
    left: 53%;
    opacity: 0;
}
#sec2.active .base .persist {
    animation: show 1s linear forwards;
    animation-delay: 3s;
}
#sec2 .base .persist img {
    width: 100%;
    object-fit: cover;
}
#sec3 {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    gap: 4vh;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#sec3 .title {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 800;
    color: var(--d-green);
    background-color: var(--l-green);
    padding: 0 2vw;
}
#sec3 .circle_wrap {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
}
#sec3 .circle_wrap .big {
    font-family: 'Poppins', sans-serif;
    color: var(--dd-green);
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding-top: 3vw;
    gap: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#sec3 .circle_wrap .big .thin {
    font-size: 1.5vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sec3 .circle_wrap .big .thin strong {
    font-size: 2vw;
    font-weight: 800;
}
#sec3 .circle_wrap .big .mid {
    font-size: 3vw;
    font-weight: 800;
}
#sec3 .circle_wrap .big img {
    flex-shrink: 0;
    width: 12%;
    object-fit: cover;
}
#sec3 .circle_wrap .r.big .num {
    color: var(--d-green);
}
#sec3 .circle_wrap .big .num {
    font-family: 'Montserrat', sans-serif;
    color: #96a6a1;
    font-size: 6vw;
    font-weight: 900;
}
#sec3 .circle_wrap .big .num .thin {
    font-size: 3vw;
}
#sec3 .circle_wrap .m {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25vw;
    height: 25vw;
}
#sec3 .circle_wrap .m.show {
    animation: swag 1s linear;
    animation-delay: 1s;
}
#sec3 .circle_wrap .m img {
    width: 100%;
    object-fit: cover;
}
#sec3 .bottom {
    position: relative;
}
#sec3 .bottom .word {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: var(--dd-green);
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sec3 .bottom .word img {
    position: absolute;
    z-index: -1;
    bottom: -1.5vw;
    right: 2vw;
    width: 10vw;
    object-fit: cover;
}
#sec3 .bottom img {
    position: absolute;
    bottom: -50%;
    right: -10vw;
    width: 7vw;
    object-fit: cover;
}
#sec4 {
    height: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: var(--dd-green);
}
#sec4 .title_wrap {
    position: relative;
    width: calc(100% - 120px);
}
#sec4 .title_wrap .title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    font-weight: 900;
}
#sec4 .title_wrap img {
    position: absolute;
    height: 12vw;
    top: 0;
    right: 0;
    object-fit: cover;
}
#sec4 .title_wrap .title img {
    position: absolute;
    z-index: -1;
    top: 1vw;
    left: 37vw;
    width: 10vw;
    object-fit: contain;
}
#sec4 .title_wrap .sub {
    margin-top: 4vw;
    background-color: var(--ll-green);
    font-size: 1.7vw;
    font-weight: 500;
    padding: 1vw 2vw;
}
#sec4 .title_wrap .sub strong {
    color: var(--d-green);
}
#sec4 .map {
    margin-top: 2vw;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#sec4 .map .top {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sec4 .map .top .arrow {
    position: absolute;
    width: 30vw;
    right: 40%;
    top: 50%;
    transform: translateY(-50%);
}
#sec4 .map .top .arrow img {
    width: 100%;
    object-fit: cover;
}
#sec4 .map .top .step {
    width: 20vw;
    height: auto;
}
#sec4 .map .top .step img {
    width: 100%;
    object-fit: cover;
}
#sec4 .map .bottom {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -10vw;
    margin-bottom: -5vw;
}
#sec4 .map .bottom img {
    width: 100%;
    object-fit: cover;
}
#sec4 .map .bottom .s_arrow,
#sec4 .map .bottom .step {
    position: absolute;
}
#sec4 .map .bottom .s_arrow img,
#sec4 .map .bottom .step img {
    width: 100%;
    object-fit: cover;
}
#a1 {
    top: 13%;
    left: 64%;
    width: 5vw;
}
#s1 {
    top: 23%;
    left: 49%;
    width: 20vw;
}
#a2 {
    top: 32%;
    left: 36%;
    width: 8vw;
}
#s2 {
    top: 34%;
    left: 10%;
    width: 31vw;
}
#a3 {
    top: 55%;
    left: 25%;
    width: 4.5vw;
}
#s3 {
    top: 63%;
    left: 24%;
    width: 26vw;
}
#a4 {
    top: 65%;
    left: 55%;
    width: 10vw;
}
#s4 {
    top: 48%;
    left: 64%;
    width: 24vw;
}
#a5 {
    top: 35%;
    left: 70%;
    width: 5vw;
}
#sec5 .right_wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 76%;
    background-color: var(--l-green);
}
#sec5 .right_wrap .word::before {
    content: '';
    position: absolute;
    right: 1vw;
    top: -4vw;
    height: 1vw;
    width: 10%;
    background-color: var(--d-green);
}
#sec5 .right_wrap .word {
    opacity: 0;
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7vw;
    line-height: 2.5vw;
    font-weight: 500;
    color: var(--dd-green);
}
#sec5 .right_wrap .word p {
    margin-bottom: 2vw;
}
#sec5 .right_wrap .word p strong {
    font-weight: 500;
    color: var(--d-green);
}

#sec5 .left_wrap {
    position: absolute;

    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 1vw;
}
#sec5.show .left_wrap{
    animation: go_right .5s ease-out forwards;
}
#sec5.show .right_wrap .word {
    opacity: 1;
    transition: 1s;
    transition-delay: .5s;
}
@keyframes go_right {
    0% {
        right: 100%;
    }
    100% {
        right: 65%;
    }
}
#sec5 .left_wrap .card {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 30vw;
    border-radius: 3vw;
    background-color: var(--d-green);
    box-shadow:  2px 5px 5px rgba(0,0,0,.1);
}
#sec5 .left_wrap .card .title {
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    line-height: 5.5vw;
    font-weight: 900;
}
#sec5 .left_wrap .card .pic {
    position: absolute;
    right: 3vw;
    top: 3vw;
    width: 12vw;
    height: 13.8vw;
    background-image: url("../img/index/here\ we\ come.svg");
    background-size: cover;
}
#sec6 .back {
    position: relative;
    width: 100%;
    height: 100%;
}
#sec6 .back .top {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90%;
    height: 45%;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-image: linear-gradient(to bottom, var(--l-green), transparent);
}
#sec6 .back .top .left {
    position: absolute;
    left: 3vw;
    top: 3vw;
    width: 12.5vw;
    height: 12vw;
    background-image: url("../img/index/sec6_left.svg");
    background-size: contain;
}
#sec6 .back .top .mid {
    position: absolute;
    left: 50%;
    top: 12vh;
    width: 18vw;
    height: 22.5vw;
    transform: translateX(-50%);
    background-image: url("../img/index/sec6_mid.svg");
    background-size: contain;
}
#sec6 .back .top .right {
    position: absolute;
    right: .2vw;
    top: -2vw;
    width: 6vw;
    height: 7.2vw;
    background-image: url("../img/index/sec6_rig.svg");
    background-size: contain;
}
#sec6 .back .bottom {
    position: absolute;
    bottom: 0;
    left: 25vw;
    width: 50%;
    height: 30vmin;
    overflow: hidden;
}
#sec6 .back .bottom .c1 {
    position: absolute;
    bottom: 42px;
    left: 40px;
    width: calc(50vw - 80px);
    height: calc(50vw - 80px);
    border-radius: 50%;
    background-image: linear-gradient(to top, var(--l-green) 0%, transparent 30%);
}
#sec6 .back .bottom .c2 {
    position: absolute;
    bottom: 22px;
    left: 20px;
    width: calc(50vw - 40px);
    height: calc(50vw - 40px);
    border-radius: 50%;
    border: 3px solid var(--d-green);
}
#sec6 .back .bottom .c2::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -6px;
    width: calc(50vw - 34px);
    height: calc(50vw - 34px);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, transparent 49%, #fff 65%, #fff 70%, transparent 90%);
}
#sec6 .back .bottom .c3 {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 2px solid var(--l-green);
}
#sec6 .back .bottom .c3::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: -4px;
    width: calc(50vw + 4px);
    height: calc(50vw + 4px);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 50%, transparent 49%, #fff 60%, transparent 90%);
}
#sec6 .top {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#sec6 .top .title {
    position: absolute;
    right: 12vw;
    bottom: calc(27vh + 24vw);
    color: var(--dd-green);
    font-size: 2.5vw;
    font-weight: 700;
}
#sec6 .top .title::before {
    content: '';
    position: absolute;
    top: -2.5vw;
    left: -3vw;
    width: 2vw;
    height: 1.7vw;
    background-image: url("../img/index/sec6_quote.svg");
    background-size: contain;
}
#sec6 .top .card_wrap {
    width: 80vw;
    left: 10vw;
    position: absolute;
    bottom: 24vh;
    display: flex;
    gap: 2vw;
}
#sec6 .top .card_wrap .card {
    position: relative;
    flex-shrink: 0;
    width: 18vw;
    height: 24vw;
    background-image: url("../img/index/card.svg");
    background-size: cover;
    opacity: 0;
    top: 100px;
    transition: .5s;
    transition-delay: calc(var(--i) * .5s);
}
#sec6 .top .card_wrap.show .card {
    opacity: 1;
    top: 0;
}
#sec6 .top .card_wrap .card .img {
    position: absolute;
    bottom: 5vw;
    left: 3vw;
    width: 12vw;
    height: 12vw;
    background-size: contain;
}
#cd1 {
    background-image: url("../img/index/sec6_cd1.svg");
}
#cd2 {
    background-image: url("../img/index/sec6_cd2.svg");
}
#cd3 {
    background-image: url("../img/index/sec6_cd3.svg");
}
#cd4 {
    height: 10vw;
    background-image: url("../img/index/sec6_cd4.svg");
}
#sec6 .top .card_wrap .card .word {
    position: absolute;
    bottom: 3vw;
    width: 18vw;
    font-style: italic;
    color: var(--dd-green);
    font-size: 1.5vw;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sec7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent 10%, var(--l-green) 40%, var(--l-green) 60%, transparent 90%);
}
#sec7 .card {
    position: relative;
    height: 50%;
    width: 70%;
    border-radius: 5vh;
    background-color: #fff;
    box-shadow: 2px 5px 10px rgba(0,0,0,.1);
    font-family: 'Montserrat', sans-serif;
    color: var(--dd-green);
}
#sec7 .card .word {
    font-size: 2vw;
    font-weight: 600;
    position: absolute;
    top: 6vh;
    left: 5vw;
    width: 70%;
}
#sec7 .card .word .rotate {
    margin: 2vw 0;
    font-size: 3vw;
    font-weight: 800;
    transform: rotate(-3deg);
}
#sec7 .card .button {
    position: absolute;
    bottom: 6vh;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    padding: 0 1.5vw;
    background-color: var(--d-green);
    border-radius: 1.8vw;
}
#sec7 .card .button a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}
#sec7 .img {
    position: absolute;
    bottom: 6vh;
    right: 2.5vw;
    background-image: url("../img/index/sec7.svg");
    background-size: cover;
    width: 7vw;
    height: 13vw;
}
/* 底栏 */
#footer {
    width: 100%;
    background-color: #fff;
    border-top: 4px solid var(--d-green);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px 50px;
}
#footer .web_icon img {
    width: 24vw;
    object-fit: cover;
}
#footer .title {
    font-size: 15px;
    letter-spacing: .5px;
    font-weight: 500;
    color: var(--d-green);
    text-transform: uppercase;
}
#footer .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#footer .follow .follow_list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#footer .follow .follow_list li {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #333;
}
#footer .follow .follow_list li img {
    transform: rotateY(0deg);
    transition: 1s linear;
}
#footer .follow .follow_list li:hover img {
    transform: rotateY(360deg);
}
#footer .follow .follow_list li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--gray);
    object-fit: cover;
}
#footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
#footer .contact .email {
    color: var(--gray);
    font-size: 13px;
    letter-spacing: .5px;
}
/* 响应式 */
@media(width < 1035px), (orientation: portrait) {
    .top_bar .menu_btn {
        display: flex;
        align-items: center;
        color: var(--gray);
        font-size: 30px;
        transform: rotateZ(0deg);
        transition: .3s;
    }
    .top_bar .menu_btn.active {
        color: var(--d-green);
    }
    .top_bar .menu_wrap {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 4px solid var(--d-green);
        background-color: rgba(255,255,255,rgba(255,255,255,.7));
        box-shadow: 0 0 15px rgba(0,0,0,.3);
        backdrop-filter: blur(5px);

        height: auto;
        width: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 20px 15px;

        position: absolute;
        top: 60px;
        left: 0;
        transform: translateX(-100%);
        transition: .5s ease-out;
    }
    .top_bar .menu_btn.active ~ .menu_wrap{
        transform: translateX(0);
    }
    .top_bar .menu_wrap .menu_item {
        flex-shrink: 0;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .top_bar .menu_wrap .menu_item .title {
        font-size: 20px;
        padding-left: 10px;
    }
    .top_bar .menu_wrap .menu_item .choice {
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,.2);
        flex-shrink: 0;
        width: 100%;
        position: relative;
        top: -10px;
        height: 0;
    }
    .top_bar .menu_wrap .menu_item:hover .choice {
        border: none;
    }
    .top_bar .menu_wrap .menu_item .choice li a {
        padding: 10px 15px;
    }
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    #footer > div {
        width: 100%;
        flex-shrink: 0;
    }
    #footer .web_icon,
    #footer .lab_icon {
        display: none;
    }
    #footer .follow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #footer .follow .follow_list li {
        height: 21px;
        width: 21px;
    }
    #footer .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}