/* banner */
.banner_wrap {
    position: sticky;
    z-index: -1;
    margin-top: 60px;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    padding-bottom: 8vh;
    gap: 5vh;
    transition: .5s;
}
.banner_wrap .top {
    width: 100%;
    height: auto;
}
.banner_wrap .top img {
    width: 100%;
    object-fit: cover;
}
.banner_wrap .title_wrap {
    transition: .5s;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--banner);
    background-size: cover;
    background-position: center;
    border: 20px solid var(--d-green);
}
.banner_wrap .title_wrap .title {
    transition: .5s;
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: .2vw;
    -webkit-text-stroke: 15px var(--d-green);
}
.banner_wrap .title_wrap .title::before {
    text-align: center;
    width: 100%;
    left: 0;
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0;
    color: #fff;
}
.banner_wrap .title_wrap .title::after {
    content: '';
    position: absolute;
    top: calc(100% + 2vw);
    left: 50%;
    transform: translateX(-50%);
    width: 8vw;
    height: 1.5vw;
    background-color: var(--d-green);
    transition: .5s;
}
/* 正文 */
.body {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding-top: 5vw;
}
.menu {
    position: relative;
    opacity: 0;
    transition: 1s;
    position: fixed;
    top: 63px;
    width: 25%;
    color: var(--dd-green);
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    padding-left: 60px;
    font-size: 1.5vw;
    gap: 1.5vw;
    font-weight: 600;
}
.menu.show {
    opacity: 1;
}
.body .menu_back {
    transition: .5s;
    flex-shrink: 0;
    width: 25%;
    border-radius: 3px;
    box-shadow: 8px 0 11px rgba(109, 183, 162, 0.42);
    background-color: var(--l-green);
}
.body .content {
    transition: .5s;
    padding: 50px 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 16vw;
    color: var(--dd-green);
}
.body .content h1 strong {
    font-size: 4vw;
}
.body .content h1 {
    font-size: 3vw;
    margin-bottom: 3vw;
}
.body .content p {
    text-indent: 2vw;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 1.5vw;
}
.body .content p strong {
    color: var(--d-green);
    font-weight: 600;
}
.body .content p b {
    font-weight: 600;
}
.body .content p:first-child {
    margin-top: 0;
}
.body .content .img {
    position: relative;
    width: 100%;
    height: auto;
}
.body .content .img img {
    width: 100%;
    object-fit: cover;
}
.body .content a {
    color: var(--d-green);
    font-weight: 600;
    text-decoration: underline;
}
.body .content .img .des {
    font-size: 1.3vw;
    margin-top: .5vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    color: #858686;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.body .content .ref h1 {
    margin-bottom: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
}
.body .content .ref ul {
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    gap: .5vw;
}
.body .content h2 {
    font-size: 2.5vw;
    font-weight: 500;
    padding-bottom: 2vw;
}
.body .content h3 {
    font-size: 1.7vw;
    font-weight: 700;
}
.body .content section section {
    margin-top: 8vw;
}
.body .content section:first-child {
    margin-top: 0;
}
.body .content section .s2 {
   margin-top: 0;
}

@media(width < 900px), (orientation: portrait) {
    .banner_wrap {
        gap: 15vh;
    }
    .banner_wrap .title_wrap{
        height: 50vh;
    }
    .banner_wrap .title_wrap .title {
        font-size: 7vw;
        font-weight: 700;
        letter-spacing: .2vw;
        -webkit-text-stroke: 15px var(--d-green);
    }
    .banner_wrap .title_wrap .title::after {
        width: 20vw;
        height: 2vw;
    }
    .body .menu_back {
        display: none;
    }
    .body .content {
        width: 100%;
        padding-right: 50px;
    }
    .menu {
        box-shadow: none;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);
        width: auto;
        height: auto;
        background-color: #fff;
        gap: 3vw;
        border-radius: 2vw;
    }
    .menu.taylor {
        transform: translateY(-50%) translateX(0);
        box-shadow: 8px 0 11px rgba(109, 183, 162, 0.42);
    }
    .menu .btn {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: -3.5vw;
        width: 3.5vw;
        height: 6vw;
        background-color: #fff;
        border-top-right-radius: .5vw;
        border-bottom-right-radius: .5vw;
        box-shadow: 8px 0 11px rgba(109, 183, 162, 0.42);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu .btn ion-icon {
        font-size: 2vw;
        color: var(--dd-green);
        transform: rotate(-180deg);
        transition: .5s;
    }
    .menu.taylor .btn ion-icon {
        transform: rotate(0deg);
    }
    .menu .t1 {
        font-size: 4vw;
    }
}