table {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    text-align: center;
}
caption {
    background-color: var(--d-green);
    color: #fff;
    font-weight: 700;
    font-size: 2vw;
    padding: .3vw 0;
}
tr:last-child {
    border-bottom: 2px solid var(--d-green);
}
tr:last-child td {
    padding-bottom: 1vw;
}
th {
    border-bottom: 2px solid var(--d-green);
    font-size: 1vw;
    padding: .5vw 0;
    color: var(--d-green);
    font-weight: 600;
}
td {
    color: var(--dd-green);
    font-weight: 400;
    font-size: 1vw;
    padding-top: 1vw;
    min-width: 10vw;
}
td.s {
    font-size: .7vw;
}
th:first-child,
td:first-child {
    max-width: 18vw;
}